# Python
__pycache__/
*.py[cod]
*.so
venv/
.env
*.db
*.sqlite3
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Docker / Postgres
postgres_data/
*.log

# Node (frontend futuro)
node_modules/
dist/
.env
